第一次登录 Kaggle 可能会让人望而生畏。我们的比赛经常有丰厚的奖金、公开的排行榜，并且涉及复杂的数据。尽管如此，我们确实认为所有数据科学家都可以从机器学习竞赛中快速学习并为我们的社区做出有意义的贡献。为了让您清楚地了解我们的平台是如何工作的，以及您可以在 Kaggle 上进行的学习类型的心智模型，我们为泰坦尼克号竞赛创建了一个入门教程。它会引导您完成在排行榜上获得第一个不错的提交所需的初始步骤。在本教程结束时，您还将对如何使用 Kaggle 的在线编码环境有深入的了解，您将在其中训练自己的机器学习模型。

因此，如果这是你第一次参加 Kaggle 比赛，无论你是否：
- 有处理大型数据集的经验，
- 没有做太多编码，
- 对数据科学较新，或者
- 相对有经验（但不熟悉 Kaggle 的平台），

你来对地方了！

# 第 1 部分：开始

在本节中，您将了解有关比赛的更多信息并进行首次提交。

## 参加比赛！

首先要做的就是参加比赛！使用**[竞赛页面](https://www.kaggle.com/c/titanic)** 打开一个新窗口，然后点击 **“加入竞赛”** 按钮，如果你还没有的话。 （_如果您看到“提交预测”按钮而不是“参加比赛”按钮，则您已经参加了比赛，无需再次参加。_）

![](https://i.imgur.com/07cskyU.png)

这会将您带到规则接受页面。您必须接受比赛规则才能参加。这些规则规定了您每天可以提交多少次、最大团队规模以及其他特定于比赛的详细信息。然后，点击 **“我理解并接受”** 表示您将遵守比赛规则。

## 挑战

比赛很简单：我们希望您使用泰坦尼克号乘客数据（姓名、年龄、票价等）来尝试预测谁会生还谁会死。

## 数据

要查看比赛数据，请单击比赛页面顶部的 **<a href="https://www.kaggle.com/c/titanic/data" target="_blank" rel="noopener noreferrer"><b>Data tab</b></a>**。然后，向下滚动以找到文件列表。
数据中有三个文件：(1) **train.csv**, (2) **test.csv**, (3) **gender_submission.csv<**>。

### (1) train.csv

**train.csv**包含机上乘客子集的详细信息（准确地说是 891 名乘客——每个乘客在表格中占据不同的行）。要调查此数据，请单击屏幕左侧的文件名。完成此操作后，您可以在窗口中查看所有数据。

![](https://i.imgur.com/cYsdt0n.png)

第二列中的值 (**"Survived"**) 可用于确定每个乘客是否幸存：
- 如果是“1”，则乘客幸免于难。
- 如果是“0”，则乘客死亡。

例如，**train.csv**中列出的第一位乘客是 Owen Harris Braund 先生。他死于泰坦尼克号时年仅 22 岁。

### (2) test.csv

使用您在**train.csv**中找到的模式，您必须预测机上其他 418 名乘客（在**test.csv**中）是否幸存。

单击**test.csv**（在屏幕左侧）以检查其内容。请注意，**test.csv**没有 **"Survived"** 列 - 此信息对您是隐藏的，您预测这些隐藏值的能力将决定如何你在比赛中得分很高！

### (3) gender_submission.csv

**gender_submission.csv** 文件作为示例提供，说明您应如何构建预测。它预测所有女乘客都生还，所有男乘客都死了。您关于生存的假设可能会有所不同，这将导致不同的提交文件。但是，就像这个文件一样，您提交的内容应该有：
- **"PassengerId"** 列包含来自 **test.csv** 的每位乘客的 ID。
- **"Survived"** 列（您将创建！），其中“1”代表您认为乘客幸存的行，“0”代表您预测乘客死亡.

# 第 2 部分：您的编码环境

在本节中，您将训练自己的机器学习模型来改进您的预测。 _如果您以前从未编写过代码或没有任何机器学习经验，请不要担心！在本教程中，我们不假设任何先前的经验。

## jupyter notebook

首先要做的是创建一个 jupyter notebook，您将在其中存储所有代码。您可以使用 Kaggle Notebooks 快速启动和运行代码，而无需在您的计算机上安装任何东西。 （_如果您对深度学习感兴趣，我们还提供免费的 GPU 访问权限！_）

首先单击竞赛页面上的 **<a href="https://www.kaggle.com/c/titanic/kernels" target="_blank">Code tab</a>**。然后，单击 **“新建笔记本”**。

![](https://i.imgur.com/v2i82Xd.png)

您的笔记本将需要几秒钟来加载。在左上角，您可以看到笔记本的名称——类似于 **"kernel2daed3cd79"**。

![](https://i.imgur.com/64ZFT1L.png)

您可以通过单击名称来编辑名称。将其更改为更具描述性的内容，例如 **“泰坦尼克号入门”**。

![](https://i.imgur.com/uwyvzXq.png)

## 你的第一行代码

当你开始一个新的笔记本时，它有两个灰色的盒子用于存储代码。我们将这些灰色框称为“代码单元”。

![](https://i.imgur.com/q9mwkZM.png)

第一个代码单元中已经有一些代码。要运行此代码，请将光标放在代码单元格中。 （_如果光标在正确的位置，您会注意到灰色框左侧有一条蓝色竖线。_）然后，点击播放按钮（出现在蓝线左侧)，或按键盘上的 **[Shift] + [Enter]**。

如果代码运行成功，将返回三行输出。下面，您可以看到您刚刚运行的相同代码，以及您应该在笔记本中看到的输出。

这向我们展示了比赛数据的存储位置，以便我们可以将文件加载到笔记本中。我们接下来会这样做。

## 加载数据

笔记本中的第二个代码单元现在显示在带有文件位置的三行输出下方。

![](https://i.imgur.com/OQBax9n.png)

在您的第二个代码单元格中键入下面的两行代码。然后，完成后，单击蓝色播放按钮，或按 **[Shift] + [Enter]**。

In [9]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# 由于我是自己的项目执行，所有这里的文件路径和官网略有不同
# 官网示例：for dirname, _, filenames in os.walk('/kaggle/input'):
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

data/gender_submission.csv
data/test.csv
data/train.csv

您的代码应返回上面的输出，它对应于 **train.csv** 中表格的前五行。在继续本教程之前，**在笔记本**中看到此输出非常重要！
> _如果您的代码没有产生此输出_，请仔细检查您的代码是否与上面两行相同。并且，在按下 **[Shift] + [Enter]** 之前，请确保您的光标位于代码单元格中。

您刚刚编写的代码是使用 Python 编程语言编写的。它使用名为 **pandas**（缩写为 `pd`）的 Python“模块”将表从 **train.csv** 文件加载到笔记本中。为此，我们需要插入文件的位置（我们看到的是“data/train.csv”）。
> 如果您还不熟悉 Python（和 pandas），代码对您来说应该没有意义——但别担心！本教程的重点是（快速！）让你第一次提交给比赛。在本教程结束时，我们会建议资源以继续您的学习。

此时，您的笔记本中应该至少有三个代码单元。
![](https://i.imgur.com/ReLhYca.png)

将下面的代码复制到笔记本的第三个代码单元格中，以加载 **test.csv** 文件的内容。不要忘记点击播放按钮（或点击**[Shift] + [Enter]**）！

In [10]:
train_data = pd.read_csv('data/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
test_data = pd.read_csv('data/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

和以前一样，确保在继续之前在笔记本中看到上面的输出。

一旦所有代码成功运行，所有数据（在 **train.csv** 和 **test.csv** 中）都会加载到笔记本中。 (_上面的代码只显示了每个表的前 5 行，但所有数据都在那里——**train.csv** 的所有 891 行和 **test.csv** 的所有 418 行！_)

# 第 3 部分：您的第一次提交

记住我们的目标：我们想在 **train.csv** 中找到模式，帮助我们预测 **test.csv** 中的乘客是否幸存。

当有如此多的数据需要整理时，最初可能会觉得寻找模式让人不知所措。所以，我们将从简单的开始。

## 探索模式

请记住，**gender_submission.csv** 中的示例提交文件假设所有女性乘客都幸存（所有男性乘客都死亡）。

这是一个合理的初步猜测吗？我们将检查此模式在数据中是否成立（在 **train.csv** 中）。

将下面的代码复制到一个新的代码单元中。然后，运行单元格。

In [7]:
women = train_data.loc[train_data.Sex == 'female']['Survived']
rate_women = sum(women)/len(women)
rate_women

0.7420382165605095

在继续之前，请确保您的代码返回上面的输出。上面的代码计算了女性乘客（在 **train.csv** 中）幸存下来的百分比。

然后，在另一个代码单元中运行下面的代码：

In [11]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)
rate_men

0.18890814558058924

上面的代码计算了男性乘客（在 **train.csv** 中）幸存下来的百分比。

由此可以看出，船上几乎 75% 的女性幸存下来，而只有 19% 的男性活着讲述了这件事。由于性别似乎是生存的重要指标，所以 **gender_submission.csv** 中的提交文件是一个不错的初步猜测！

但归根结底，这种基于性别的提交仅基于一个列进行预测。可以想象，通过考虑多列，我们可以发现更复杂的模式，这些模式可能会产生更明智的预测。由于一次考虑多个列非常困难（或者，同时考虑许多不同列中的所有可能模式需要很长时间），我们将使用机器学习为我们自动执行此操作。

## 你的第一个机器学习模型

我们将构建所​​谓的**随机森林模型**。这个模型是由几棵“树”构成的（下图中是三棵树，但我们要构造 100 棵！），它们会单独考虑每个乘客的数据，并投票决定这个人是否幸存。然后，随机森林模型做出民主决定：得票最多的结果获胜！

![](https://i.imgur.com/AC9Bq63.png)

下面的代码单元在四个不同的列中查找模式（**“Pclass”**、**“Sex”**、**“SibSp”** 和 < **>“Parch”**) 的数据。它根据**train.csv**文件中的模式构建随机森林模型中的树，然后为**test.csv**中的乘客生成预测。该代码还将这些新预测保存在 CSV 文件**submission.csv<**> 中。

将此代码复制到您的笔记本中，并在新的代码单元中运行它。

In [12]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

在继续之前，请确保您的笔记本输出与上面相同的消息（`Your submission was successfully saved!`）。
> 同样，如果这段代码对您来说没有意义，请不要担心！现在，我们将重点关注如何生成和提交预测。

准备就绪后，单击笔记本右上角的 **“保存版本”** 按钮。这将生成一个弹出窗口。
- 确保选择了**“保存并运行所有”**选项，然后单击**“保存”**按钮。
- 这会在笔记本的左下角生成一个窗口。运行完成后，单击 **“保存版本”** 按钮右侧的数字。这会在屏幕右侧拉出一个版本列表。单击最新版本右侧的省略号 **(...)**，然后选择 **在查看器中打开**。
- 单击屏幕顶部的 **数据** 选项卡。然后，单击**“提交”** 按钮提交您的结果。

![](https://i.imgur.com/1ocaUl4.png)

恭喜你第一次提交 Kaggle 竞赛！十分钟内，您应该会收到一条消息，提供您在排行榜上的位置。做得好！

# 第 4 部分：了解更多！

如果您有兴趣了解更多信息，我们强烈建议您阅读我们的（3 小时）<**>[机器学习简介](https://www.kaggle.com/learn/intro-to-machine-learning)<**> 当然，这将帮助您完全理解我们在此处提供的所有代码。您还将了解足以生成更好的预测！